apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: auth-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "git@github.com:your-org/dukat-voice-saas.git"
    path: "backend/auth-service"
    targetRevision: dukat-consolidation
  destination:
    server: "https://kubernetes.default.svc"
    namespace: auth-service
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true