apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "dukat-voice.name" . }}
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "dukat-voice.name" . }}
            port:
              number: 80